@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --shadow-3xl: 0 4px 15px rgba(0, 0, 0, 0.2); 
  --breakpoint-xs: 400px;
  --breakpoint-3xl: 1920px;
  --color-primary: #ff9324
}

@layer base {
  html {
    font-family: var(--font-display);
    font-optical-sizing: auto;
    font-style: normal;
  }
  bpdy {
    background-color: #fcfbfc;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.toast-custom-style {
  background: #ffffff;
  color: #222222;
  font-size: 15px;
  font-weight: 500;
  min-width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease-in-out;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-enter {
  animation: enter 0.3s ease-in-out forwards;
}

.animate-leave {
  animation: leave 0.3s ease-in-out forwards;
}